@layer main {
    .currentLine {
        background-color: rgba(255, 0, 0, 0.425) !important;
    }

    .futureLine {
        background-color: rgba(23, 138, 28, 0.425) !important;
    }

    .chip-editor {
        height: 100%;
    }

    .chip-tabs {
        height: 100%;
    }

    :root {
        font-family: "Fira Code", monospace !important;
    }

}